.main {
  transform: translateX($container_max_width);
}

.main-enter,
.main-appear {
  transform: translateX($container_max_width);
  opacity: 0;
  transition-delay: 300ms;
}
.main-enter-active,
.main-appear-active {
  transform: translateX(0);
  opacity: 1;
}

.main-enter-done {
  transform: translateX(0);
}

.main-exit {
  transform: translateX(0);
  opacity: 1;
}
.main-exit-active {
  transform: translateX($container_max_width);
  opacity: 0;
}
