.card.chat {
  display: flex;
  flex-flow: column;
  height: 100vh;

  .chat-header {
    background-color: blueviolet;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 40px;

    .back-button {
      cursor: pointer;
    }
  }

  .chat-container {
    flex-grow: 1;

    .ReactVirtualized__Grid__innerScrollContainer {
      display: grid;

      grid-template-columns: 40px 1fr 1fr 1fr 1fr 1fr 40px;
      grid-template-rows: auto;

      .message-container-others {
        grid-column: 2 / 5;
        justify-self: flex-start;
        padding: 5px 0;
      }

      .message-container-mine {
        grid-column: 4 / 7;
        justify-self: flex-end;
        padding: 5px 0;
      }

      .message {
        padding: 10px;
        position: relative;

        &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
        }

        .sender {
          font-weight: bold;
        }

        .date {
          display: inline-block;
          float: right;
          padding: 0 0 0 7px;
          position: relative;
          bottom: -6px;
          color: yellow;
          font-size: 12px;
        }

        .content {
          display: inline-block;
          font-family: inherit;
          white-space: pre-line;
        }

        &.others {
          background-color: grey;
          border-radius: 0px 5px 5px 5px;

          &::after {
            border-width: 0px 10px 10px 0;
            border-color: transparent grey transparent transparent;
            top: 0;
            left: -10px;
          }
        }

        &.mine {
          border-radius: 5px 0px 5px 5px;
          background-color: green;

          &::after {
            border-width: 0px 0 10px 10px;
            border-color: transparent transparent transparent green;
            top: 0;
            right: -10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile_breakpoint) {
  .chat-header {
    padding: 10px 20px;
  }

  .chat-grid {
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 20px;
  }

  .message-container-others {
    grid-column: 2 / 6 !important;
  }

  .message-container-mine {
    grid-column: 3 / 7 !important;
  }

  .message {
    font-size: 14px;
  }
}
