.card.loader {
  padding: 2em;
  display: block;

  img {
    width: 70px;
    margin: 0 auto;
    display: block;
  }
}

.card.error {
  padding: 2em;

  .error-title {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .error-description {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .back-button {
    padding: 15px 20px;
    background-color: pink;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 4px;
    outline: none;
  }
}
