.selectFile {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  background-color: $dark_sky_blue;

  transition: all 200ms ease-in-out;

  padding: 2rem;

  &--advance {
    border: 30px solid rgba($color: #000000, $alpha: 0.2);

    &.is-dragover {
      border: 10px solid rgba($color: #000000, $alpha: 0.2);
      background-color: darken($color: $dark_sky_blue, $amount: 20%);
    }
  }

  &-icon {
    width: 100px;
    height: 100px;
  }

  &-label {
    margin-top: 1.5rem;
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 470px) {
  .selectFile {
    &-icon {
      display: none;
    }
  }
}
