// Left to right and exit reverse
.from-left {
  &-enter,
  &-appear {
    transform: translateX(-$container_max_width);
    opacity: 0;
    transition-delay: 300ms;
  }
  &-enter-active,
  &-appear-active {
    transform: translateX(0);
    opacity: 1;
  }

  &-exit {
    transform: translateX(0);
    opacity: 1;
  }
  &-exit-active {
    transform: translateX(-$container_max_width);
    opacity: 0;
  }
}

// Right to left and exit reverse
.from-right {
  &-enter,
  &-appear {
    transform: translateX($container_max_width);
    opacity: 0;
    transition-delay: 300ms;
  }
  &-enter-active,
  &-appear-active {
    transform: translateX(0);
    opacity: 1;
  }

  &-exit {
    transform: translateX(0);
    opacity: 1;
  }
  &-exit-active {
    transform: translateX($container_max_width);
    opacity: 0;
  }
}
