.welcome {
  transform: translateX(-$container_max_width);
}

.welcome-enter,
.welcome-appear {
  transform: translateX(-$container_max_width);
  opacity: 0;
  transition-delay: 300ms;
}
.welcome-enter-active,
.welcome-appear-active {
  transform: translateX(0);
  opacity: 1;
}

.welcome-enter-done {
  transform: translateX(0);
}

.welcome-exit {
  transform: translateX(0);
  opacity: 1;
}
.welcome-exit-active {
  transform: translateX(-$container_max_width);
  opacity: 0;
}
