.card.welcome {
  padding: 2em;

  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto;

  row-gap: 10px;

  grid-template-areas:
    'title drop-file'
    'paragraph-1 drop-file'
    'paragraph-2 paragraph-2';

  .welcome-title {
    grid-area: title;

    font-size: 35px;
    font-weight: lighter;
  }

  .paragraph-1 {
    grid-area: paragraph-1;
  }

  .paragraph-2 {
    grid-area: paragraph-2;
  }
}

@media screen and (max-width: 1030px) {
  .card.welcome {
    grid-template-columns: 1fr;

    grid-template-areas:
      'title'
      'paragraph-1'
      'drop-file'
      'paragraph-2';

    .welcome-title {
      text-align: center;
    }
  }
}
